@import 'includes/variables.core'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/normalize'
@import 'includes/hidden'

fontFace('Inter', 'Inter-Regular', '400', 'normal')
fontFace('Inter', 'Inter-Medium', '500', 'normal')
fontFace('Inter', 'Inter-Bold', '700', 'normal')
fontFace('Inter', 'Inter-Black', '900', 'normal')
fontFace('Montserrat', 'Montserrat-Regular', '400', 'normal')
fontFace('Montserrat', 'Montserrat-Light', '300', 'normal')

html
  font-family 'Inter', 'Montserrat', 'Helvetica-Neue', 'Arial', sans-serif
  font-size 16px

@import '../blocks/container'
@import '../blocks/content'
@import '../blocks/page-section'
@import '../blocks/h1'
@import '../blocks/layout'
@import '../blocks/grid'
@import '../blocks/promo'
@import '../blocks/socials'
@import '../blocks/header'
@import '../blocks/nav'
@import '../blocks/button/button.core'
@import '../blocks/a'

.hidden-hd
  @media screen and (min-width point-hd)
    display none !important
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none !important
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none !important
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none !important
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none !important
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none !important
