@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/variables.rest'

html
  color var(--color-white)
  background-color var(--color-black)

@import '../blocks/button/button.rest'
@import '../blocks/footer'
