fontFace(name, file, weight, style)
  @font-face
    font-family name
    src url('../fonts/' + file + '.woff2') format('woff2')
    font-weight unquote(weight)
    font-style unquote(style)
    font-display swap
