// breakpoints
point-s = 480px
point-m = 800px
point-l = 1000px
point-xl = 1200px
point-hd = 1400px

// functions
padding-x(n)
  padding-right n
  padding-left n
padding-y(n)
  padding-top n
  padding-bottom n
margin-x(n)
  margin-right n
  margin-left n
margin-y(n)
  margin-top n
  margin-bottom n

// font sizes
fontSize48()
  font-size 3rem
  line-height 1.2
fontSize36()
  font-size 2.25rem
  line-height 1.2
fontSize18()
  font-size 1.125rem
  line-height 1.2
fontSize16()
  font-size 1rem
  line-height 1.2
fontSize14()
  font-size 0.875rem
  line-height 1.2
fontSize13()
  font-size 0.8rem
  line-height 1.2
fontSize12()
  font-size 0.75rem
  line-height 1.2
fontSize10()
  font-size 0.625rem
  line-height 1.2
